// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-margin {
    margin-left: 190px;
    background-color: white;
    padding: 20px;
    max-width: 910px;
    border-radius: 0.5em;
}